@model BitirmeProjesi.Models.ViewModel.GroupPageViewModel

@{
    ViewBag.Title = "GroupPage";
}

<h2>@Model.groupView.GroupName</h2>


@Html.Hidden("groupId", Model.groupView.GroupId)
<div class="container">
    @if(SessionManagement.isGroupManager(Convert.ToInt32(User.Identity.Name),Model.groupView.GroupId))
    { 
    <div>@Html.ActionLink("Create an Event", "EventCreate", "Event", new { groupid = Model.groupView.GroupId }, null)</div>
    }
    <div class="row">
        <div class="chatRooms col">
            @foreach (var room in Model.groupView.GroupChats)
            {
                <input type="hidden" id="chatName" value="@room.GroupChatName" />
                <button id="joinBtn">Sohbete Katıl</button>
                <div class="chatroom" id="Chatroom_@room.GroupChatName">
                    @Html.Partial("~/Views/Group/PreviousMessagesChatRoom.cshtml", room.GroupChatMessages)


                </div>

                <input type="text" id="chatMessage" />
                <button type="button" id="sendChatMessage">Send</button>


            }




        </div>
        <div class="col">
            <div id="Events">
                @foreach (var eventP in Model.groupView.Events)
                {
                    <div>@eventP.EventTopic, Begin Date: @eventP.EventBeginDate.ToLongDateString() </div>
                    <img id="ThumbnailEvent"  src="@Url.Action("getEventThumbnail","Event",new { id = eventP.EventId})" class="EventThumbnail" width:75px />
                    <div>@Html.ActionLink(eventP.EventTopic, "EventPage", "Event", new { eventid = eventP.EventId }, null);</div>
                }
            </div>
        </div>

    </div>
    
</div>

<div>@Html.ActionLink("Back to Profile", "ProfilePage", "Profile", new { id = Convert.ToInt32(User.Identity.Name) }, null)</div>

@section scripts
{
    @Scripts.Render("~/bundles/signalr")
    @Scripts.Render("~/signalr/hubs")


    <script>

        //Buraya chat template yaz ve onu her mesajda append ile ekle Chatroom'a


        var groupChatHub = $.connection.groupChatHub;

        groupChatHub.client.serverNotification = function (message) { console.log(message); };
        var chatName = $("#chatName").val();
        var groupId = $("#groupId").val();
        $.connection.hub.qs = {
            'groupChatName': chatName
        };
        //Grup isminde boşluk olursa hata oluyor bu tip selector kullan
        groupChatHub.client.sendMessageGroupOthers = function (groupChatMessage) {
            var dateR = dateFormat(groupChatMessage.PostDate);


            $('[id="Chatroom_' + chatName + '"]').append('<div class="chatcontainer">' +
                '<img src="/Group/GetProfileAvatarForChat?username=' + groupChatMessage.Username + '" alt="avatar"  class="right" id="userAvatar_' + groupChatMessage.Username + '" />' +
                '<p>' + groupChatMessage.Username+ ": " + groupChatMessage.ChatMessage + '</p>' +
                '<span class="time-left">' + dateR + '</span>' +
                '</div>'
            );

        };
        groupChatHub.client.sendMessageGroupCaller = function (groupChatMessage) {
            var dateR = dateFormat(groupChatMessage.PostDate);

            $('[id="Chatroom_' + chatName + '"]').append('<div class="chatcontainer darker">' +
                '<img src="/Group/GetProfileAvatarForChat?username=' + groupChatMessage.Username + '" alt="avatar"  class="left" id="userAvatar_' + groupChatMessage.Username + '" />' +
                '<p>' + groupChatMessage.Username + ": " + groupChatMessage.ChatMessage + '</p>' +
                '<span class="time-right">' + dateR + '</span>' +
                '</div>'
            );

        };

        var dateFormat = function (pDate) {
            var t = new Date(pDate);
            var dateString = t.getDate() + "." +
                ("0" + (t.getMonth() + 1)).slice(-2) + "." +
                t.getFullYear() + " " +
                ("0" + t.getHours()).slice(-2) + ":" +
                ("0" + t.getMinutes()).slice(-2) + ":" +
                ("0" + t.getSeconds()).slice(-2);

            return dateString;
        }

        $.connection.hub.start().done(function () {
            $("#joinBtn").click(function () {
                groupChatHub.server.joinGroupChat(chatName, groupId);
            });
            $("#sendChatMessage").click(function () {
                var message = $("#chatMessage").val();
                groupChatHub.server.sendMessage(chatName, groupId, message);

            });
        }).fail(function () {
            console.log("Hub couldn't start");
        });




    </script>
}







