@model BitirmeProjesi.Models.ViewModel.EventPageViewModel
@{
    ViewBag.Title = "View";
}

<h2>@Model.eventPageModel.EventTopic</h2>




<h4>@Model.eventPageModel.EventTopic Event</h4>
<div class="container-fluid">
    <div class="row" id="EventThumbnail_@Model.eventPageModel.EventTopic"><img class="rounded-pill" width="800px" height="350px" src="@Url.Action("getEventThumbnail","Event",new { id = Model.eventPageModel.EventId })" /></div>
    <div class="row">
        <div class="col-6">
            <div>
                <span> <b>Event Date = @Model.eventPageModel.EventBeginDate.ToShortDateString() Hour: @Model.eventPageModel.EventTime.Hour : @Model.eventPageModel.EventTime.Minute</b></span>
                <br />
                <b>Event Definition</b>
                <div id="EventDefinition_@Model.eventPageModel.EventTopic">
                    @Model.eventPageModel.EventDefinition
                </div>
            </div>
        </div>
    </div>

    @Html.Partial("~/Views/Event/EventNews.cshtml",Model.eventPageModel.EventNews)


    <br /><br /><br /><br /><br /><br /><br />

    @if(SessionManagement.isGroupManager(Convert.ToInt32(User.Identity.Name),Model.eventPageModel.Group.GroupId))
    { 
    <div class="row">
        <div class="container">
            @using (Html.BeginForm("PostEventNews", "Event", new { eventid = Model.eventPageModel.EventId }, FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                @Html.AntiForgeryToken()
                <div class="form-group">
                    @Html.LabelFor(model => model.eventNewsModel.EventNewsTopic, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.eventNewsModel.EventNewsTopic, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.eventNewsModel.EventMessage, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.eventNewsModel.EventMessage, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </div>

                <div class="form-group">
                    @Html.Label("Uploads", new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        <input type="file" id="EventNewsImage" name="UploadedFile" multiple />
                    </div>
                </div>

                <input type="submit" value="Submit a Notification" class="btn btn-outline-danger" />
            }

        </div>
    </div>
    }
</div>
